<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= image_tag "cohort1.jpg" %>
      <div class="carousel-caption">
        First Wyncode Cohort
      </div>
    </div>
    <div class="item">
      <%= image_tag "cohort5silly.jpg" %>
      <div class="carousel-caption">
        Fifth Wyncode Cohort
      </div>
    </div>
    <div class="item">
      <%= image_tag "cohort4.jpg" %>
      <div class="carousel-caption">
        Fourth Wyncode Cohort
      </div>
    </div>
    <div class="item">
      <%= image_tag "cohort2.jpg" %>
      <div class="carousel-caption">
        Second Wyncode Cohort
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<p id="notice"><%= notice %></p>

<h1 class= "text-center">Meet Our Wyncoders</h1>
  <div class="container">
  <div class="row">
    <% @profiles.each do |profile| %>
    <div class="col-xs-6 col-md-3">
      <div class="thumbnail">
        <%= image_tag profile.profile_pic.url(:thumb) %>
        <div class="caption">
          <h2> <%= profile.user.name %> </h2>
          <%= button_to 'Show Profile', profile, :class => "btn btn-primary", :method => :get %>
        </div> 
      </div>
    </div>
    <% end %>
  </div>
</div>