<header>
  <nav class="navbar navbar-fixed-top navbar-default">
    <div class="container">
        <h1 class="navbar-brand">
          <%= link_to "WynkedIn", root_path, id: "logo" %>
        </h1>

     

        <ul class="nav nav-pills navbar-right">
          <% if logged_in? %>
          <li role="presentation"><%= link_to "All Profiles", profiles_path %></li>
          <li role="presentation"><%= link_to "My Profile", current_user.profile %></li>
          <li role="presentation"><%= link_to "Log out", logout_path, method: "delete" %></li>
        </ul>
        <% else %>
        <ul class="nav nav-pills navbar-right">
          <li role="presentation" class="active"><button type="button" class="btn btn-primary" id="modal-button" data-toggle="modal" data-target=".bs-example-modal-lg">Sign Up</button>
          </li>
            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <%= render 'users/form'%>
                </div>
              </div>
            </div>
          <li role="presentation" class="active"><%= link_to "Log in", login_path %></li>
          <% end %>
        </ul>
    </div>
  </nav>
</header>